<template>
    <h3>Calculator</h3>
    <form v-on:submit.prevent="add">
        <input type="number" v-model="num1">
        <input type="number" v-model="num2">
        <button type="submit">
            Add
        </button>
    </form>
    <p>Result: {{ sum }}</p>
    <p>Name: {{name + name2}} </p>
    <p v-if="sum == 21">21!</p>
    <ul>
      <li v-for="city in cities" v-bind:key="city.id" :class="{'finishedTask':city.finished}">
        <input type="checkbox" :checked="city.finished"/>
        <a v-bind:href="'?id=' + city.id">zeigen</a>
        {{city.name}}
      </li>
    </ul>
</template>

<script>
export default {
  data() {
    return {
      num1: 0,
      num2: 0,
      sum: 0,
      name: "yeetus",
      name2: "biggus",
      cities: [
        {id: 1, finished: true, name: "Wien"},
        {id: 2, finished: false, name: "Kek"},
        {id: 3, finished: false, name: "21"},
        {id: 4, finished: true, name: "yeet"}
      ]
    };
  },
  methods: {
    add: function () {
      this.sum = parseInt(this.num1, 10) + parseInt(this.num2, 10);
    }
  }
}
</script>
<style>
.finishedTask{
  text-decoration: line-through;
}
</style>