<template>
    <li :class="{'finishedTask':item.finished}">
        <input type="checkbox" :checked="item.finished"/>
        <a :href="'?id=' + item.id">zeigen</a>
        {{item.name}}
    </li>
</template>

<script>
export default {
    name: "TodoListItem",
    props: [ 'item' ]
}
</script>

<style>
.finishedTask{
  text-decoration: line-through;
}
</style>