<template>
    TodoList
    <ul>
      <TodoListItem v-for="todo in todos" :key="todo.id"
       :item="todo"
      />
    </ul>
</template>

<script>
import TodoListItem from './TodoListItem.vue'

export default {
    name: "TodoList",
    components: {
        TodoListItem
    },

    data: () => ({
        todos: [
            {id: 1, finished: true, name: "yeetus tha fetus"},
            {id: 2, finished: false, name: "snacc"},
            {id: 3, finished: false, name: "pranken"},
            {id: 4, finished: true, name: "yeet"}
        ]
    })
}
</script>

<style>

</style>